 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');


 @media (max-width: 1200px) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 85%;
    }
}

*{
    margin: 0;
    padding: 0;
    border:none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    overflow-x: hidden;
}

/* Main Menu */

.faixa {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center; /* Centraliza verticalmente */
    height: auto;
    border: solid 1px black;
    background-color: rgb(12, 12, 12);
    padding: 10px 10px 0px 10px;
}

.faixa ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.faixa ul li{
    padding: 8px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-menu {
    display: column;
    white-space: nowrap;
    align-items: center; /* Alinha verticalmente os elementos */
}

#menu a{
    color: rgb(247, 247, 247);
}

#menu ul li :hover{
    transition:60s;
}

#menu ul :hover{
    transition: 0.4s;
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    text-decoration: none;
}

.menu-trigger{
    display: none;
    padding: 5px;
}

.menu-trigger:hover {
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    transition: 0.4s;
}

@media (max-width: 440px){

    .menu-trigger{
        display: flex;
        cursor: pointer;
    }

    .hidden-menu {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }

    .active-menu {
        opacity: 1;
        max-height: 500px; 
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }
}


/* Search Bar*/

.search-bar {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    height: 35px;
}

@media (max-width: 1000px) { 
    .search-bar {
        width: 30%; /* Oculta a barra de pesquisa */
    }  

}

@media (max-width: 800px) { 
    .search-bar {
        display: none; /* Oculta a barra de pesquisa */
    }  

}

input::placeholder{
    padding: 10px;
}


/* Main Trailer John Wick


.trailer-link {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 560px;
    left: 18%;
    width: 2cm;
    height: 2cm;
    border-radius: 1cm;
    list-style: none;
}

/*:hover .trailer-link{
    border: solid 3px #000;
    transition: 1s;
}

.title-trailer{
    color: white;
    position:absolute;
    background: transparent;
    right: 20%;
    font-size: 1.5em;
    font-family: Roboto;
}

.gallery p{
    color: grey;
    position: absolute;
    display: block;
    background: transparent;
    right: 57%;
    font-family: Roboto;
    font-size: 1.2em;
}

.gallery-wrapper{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.gallery{
    display: flex;
    position: relative;
    flex-flow:row nowrap;
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
}

.poster{
    width: 130px;
    position: absolute;
    display: block;
    right:75%;
    top: 230px;
    border-radius: 5px;
}

#poster-wick{
    list-style-type: none;
}

#poster-wick :hover{
    width: 132px;
    border-radius: 10px;
    transition: 300ms all ease-in-out;
}

#poster-wick :not(:hover){
    transition: 400ms;
}

.item {
    padding-bottom: 10px;
    width: 1100px;
    display: flex;  
    border-radius: 10px; 
}

*/

/* Dialog Window */

#dialog{
    margin: auto;
    height: 100%;
    max-height: 465px;
    max-width: 809px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);
}

#dialog button{
    font-family: Nunito;
    background: #0000006b;
    border: 0.5px solid black;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(255, 255, 255);
}

#dialog iframe{
    max-width: 809px;
    width: 100%;
    max-height: 465px;
    height: 100%;
}

@media (max-width: 800px) {
    #dialog{
        width: 80%;
        height: 400px;
    }

}

@media (max-width: 500px) {
    #dialog{
        width: 80%;
        height: 200px;
    }
}



/* User's navigation area*/


.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 30%;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button.prev:hover, button.next:hover {
    transition: 0.5s;
    background-color: rgba(141, 141, 141, 0.8);
    color: rgb(0, 0, 0);
}


/* Filmes e Séries */

.container{
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
}

.container h2{
    text-align: left;
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

.row{
    position: relative;
    height: auto;
    display: flexbox;
    flex-direction: row;
    padding-bottom: 1px;
    flex-flow:row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.row:hover{
    padding-bottom: 0px;
    border-radius: 20px;
    transition: 400ms ease-in-out;
    background-color: rgb(3, 3, 3);
}

.row::-webkit-scrollbar {
    display: none;
}

.row li{
    text-decoration: none;
    list-style: none; 
}

.row a{
    color: rgb(255, 255, 255);
}

.col-md-3{
    display: flex;
    flex-flow: row;
}

.description{
    background-color: rgb(17, 17, 17);
    text-align: left;
    border-radius: 5px;
    font-size: 20px;
}

.description:hover{
    background-color: rgb(15, 15, 15);
}

.description a{
    padding-right: 10px;
}

.rating, .rating-value{
    position: relative;
    display: inline;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.rating-value{
    position: relative;
    top: 2px;
    font-size: 15px;
    font-family: Lato;
}

/*Trailer row*/

.watch-trailer{
    font-family: Lato;
    text-align: center;
    position: relative;
    padding: 30px;
    width: 100%;
}

.watch-trailer img {
    width: 10px;
    position: relative;
    right: 5px;
    bottom: 1.5px;
}

.watch-trailer :hover{
    text-decoration: none;
    list-style: none;
    background: rgba(75, 75, 75, 0.459);
    border-radius: 7px;
    padding: 10px 20px 10px 10px;
    transform: 50ms;
}

.watch-trailer img{
    transition: 120s;
}

.movie-name{
    position: relative;
    padding-left: 10px;
}

@media (max-width: 1000px){

    .movie-name{
        font-size: 18px;
    }

    .watch-trailer{
        font-size: 15px;
    }

    .watch-trailer img{
        width: 8px;
    }

}

.rating-value, .rating{
    position: relative;
    top: 3px;
}


.watch-movie{
    font-family: Lato;
    text-align: center;
    position: relative;
    top: 8px;
}

.watch-movie img {
    width: 10px;
    position: relative;
    right: 5px;
    bottom: 1.5px;
}

.watch-movie :hover{
    text-decoration: none;
    list-style: none;
    background: rgba(75, 75, 75, 0.459);
    border-radius: 7px;
    padding: 10px 20px 10px 10px;
    transition: 50ms;
}

.watch-movie img{
    transition: 120s;
}

.img-fluid{
    width: 100%;
    display: block;
    position: relative;
    height: auto;
    min-width: 200px; /* Define um tamanho mínimo para a imagem */
}

@media (max-width: 480px) {
    .img-fluid {
        width: 100%;
    }
}

/*Tela Adicionar filme*/

#search-div{
    display: flex;
    padding: 20px;
}

#results {
    max-height: 200px; 
    width: 400px;
    overflow-y: auto; /* Habilita rolagem vertical */
    border: 0.5px solid #363636;
    padding: 5px 0px 0px 0px; 
    background-color: #20202098; 
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.1);
    margin-left: 11px;
}

#results div {
    display: flex; 
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#results div:last-child {
    border-bottom: none; /* Remove a linha de separação do último item */
}

#results::-webkit-scrollbar {
    border: none;
}

#results::-webkit-scrollbar-track {
    background-color: rgb(48, 48, 48);
    border-radius: 8px;
}

#results::-webkit-scrollbar-thumb{
    background-color: #161616;
    border-radius: 5px; 
    height: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} 

#results img {
    width: 40px; 
    height: 65px;
    border-radius: 5px;
    margin-right: 10px;
}

#results h3 {
    font-size: 100%;
    margin: 0; /* Remove a margem padrão do título */

}

#results div:hover{
    background-color: #242424;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.movie-info {
    display: flex; 
    flex-direction: column; 
}

#addMovie{
    background-color: #161616;
    color: #ddd;
    height: 46px;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    
}

#searchmovie{
    width: 400px;
    border-radius: 10px;
    background-color: #363636;
    height: 46px;
    color: aliceblue;
    padding: 10px;
    border: none;
    margin-left: 10px;
}

#btnAddMovie{
    background-color: rgb(41, 41, 41);
}

/*Dialog adicionar filme*/

#addMovieScreen{
    width: 1200px;
    height: 800px;
    padding: 25px;
    margin: auto;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);


    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);

}

#addMovieScreen img{
    width: 100px;
    border-radius: 10px;
}

.poster-title-id{
    display: flex;
    gap: 10px; /* Espaçamento entre o pôster e o título */
}

.sinopse{
    margin-top: 20px;
}

