@media (max-width: 480px) {
    .img-fluid {
        width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');


 @media (max-width: 1200px) {
    body {
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 85%;
    }
}

*{
    margin: 0;
    padding: 0;
    border:none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    overflow-x: hidden;
}

/* Main Menu */

.faixa {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza verticalmente */
    height: auto;
    border: solid 1px black;
    background-color: rgb(12, 12, 12);
    padding: 10px 10px 0px 10px;
}

.faixa ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.faixa ul li{
    padding: 8px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-menu {
    display: column;
    white-space: nowrap;
    align-items: center; /* Alinha verticalmente os elementos */
}

#menu a{
    color: rgb(247, 247, 247);
}

#menu ul li :hover{
    transition:60s;
}

#menu ul :hover{
    transition: 0.4s;
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    text-decoration: none;
}

.menu-trigger{
    display: none;
    padding: 5px;
}

.menu-trigger:hover {
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    transition: 0.4s;
}

@media (max-width: 440px){

    .menu-trigger{
        display: flex;
        cursor: pointer;
    }

    .hidden-menu {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }

    .active-menu {
        opacity: 1;
        max-height: 500px; 
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }
}

/* Search Bar*/

.search-bar {
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    width: 40%;
    height: 35px;
}

@media (max-width: 1000px) { 
    .search-bar {
        width: 30%; /* Oculta a barra de pesquisa */
    }  

}

@media (max-width: 800px) { 
    .search-bar {
        display: none; /* Oculta a barra de pesquisa */
    }  

}

input::placeholder{
    padding: 10px;
}


/*Tela Adicionar filme*/

#search-div{
    display: flex;
    padding: 20px;
}

#results {
    max-height: 200px; 
    width: 400px;
    overflow-y: auto; /* Habilita rolagem vertical */
    border: 0.5px solid #363636;
    padding: 5px 0px 0px 0px; 
    background-color: #20202098; 
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.1);
    margin-left: 11px;
}

#results div {
    display: flex; 
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#results div:last-child {
    border-bottom: none; /* Remove a linha de separação do último item */
}

#results::-webkit-scrollbar {
    border: none;
}

#results::-webkit-scrollbar-track {
    background-color: rgb(48, 48, 48);
    border-radius: 8px;
}

#results::-webkit-scrollbar-thumb{
    background-color: #161616;
    border-radius: 5px; 
    height: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} 

#results img {
    width: 40px; 
    height: 65px;
    border-radius: 5px;
    margin-right: 10px;
}

#results h3 {
    font-size: 100%;
    margin: 0; /* Remove a margem padrão do título */

}

#results div:hover{
    background-color: #242424;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#addMovie{
    background-color: #161616;
    color: #ddd;
    height: 46px;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    
}

#searchmovie{
    width: 400px;
    border-radius: 10px;
    background-color: #363636;
    height: 46px;
    color: aliceblue;
    padding: 10px;
    border: none;
    margin-left: 10px;
}

.movie-info{
    display: flex;
    flex-direction: column;
}

#btnAddMovie{
    background-color: rgb(41, 41, 41);
}

/*Dialog adicionar filme*/

#addMovieScreen{
    width: 1200px;
    height: 700px;
    margin: auto;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);
    position: relative; /* Para posicionar o conteúdo do modal */
    overflow: hidden; /* Para esconder conteúdo que ultrapassar */

}

.modal-flex{
    position: relative; /* Para posicionar o conteúdo */
    z-index: 2; /* Para que o conteúdo fique acima do fundo */
    padding: 25px; /* Espaçamento interno */
    color: white; /* Texto branco para melhor contraste */
}

.overlay {
    position: absolute; /* Posiciona a sobreposição */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Preto com opacidade */
    z-index: 1; /* Camada abaixo do conteúdo, mas acima da imagem de fundo */
    display: none; /* Inicialmente escondida */
}

.modal {
    background-image: url(''); /* Para ser definido dinamicamente via JS */
    background-size: cover; /* Para cobrir todo o dialog */
    background-position: center; /* Centralizar a imagem */
}

#addMovieScreen img{
    width: 100px;
    border-radius: 10px;
}

.poster-title-id{
    display: flex;
    gap: 10px; /* Espaçamento entre o pôster e o título */
}

.sinopse{
    margin-top: 20px;
}

.img-fluid{
    width: 100%;
    display: block;
    position: relative;
    height: auto;
    min-width: 200px; /* Define um tamanho mínimo para a imagem */
}