/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Base */
body {
  background-color: black;
  color: white;
  font-family: Quicksand, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Layout Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  padding: 40px;
}

.left-login,
.right-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo-div {
  max-width: 800px;
  text-align: center;
  margin: 10px auto;
  order: 0;
}
.logo{
  display: flex;
  align-items: center;
}


.logo-font,
.logo-font2,
.logo-font-y {
  display: inline;
  padding: 0;
  margin: 0;
}

.logo-font, 
.logo-font-y{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 75px;
}

.logo-font-y{
    margin-left: 15px;
}

.logo-font2{
    font-family: Bebas Neue;
    font-size: 80px;
    color: #D7171E;
    margin-left: 15px;
}

.logo-eye {
  display: inline;
  height: 1.6em;
  margin-top: 5px;
  padding: 0;

}

.home-header,
.home-header:hover,
.home-header:focus,
.home-header:visited {
  text-decoration: none;
  color: white;
}

/* Form */
form {
  max-width: 800px;
  width: 100%;
  height: 450px;
  background-color: rgba(17, 17, 17, 0.92);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(215, 23, 30, 0.1);
}

label {
  font-size: 0.9em;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

input[type="submit"]#submit {
  background: #D7171E;
  color: white;
  padding: 6px;
  font-size: 0.9em;
  border: none;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
}

input[type="submit"]#submit:hover {
  background: linear-gradient(to bottom, #ff6565, #e23b3b);
}

/* Nova conta */
.new-account {
  margin-top: 30px;
  text-align: center;
}

.new-account p {
  font-family: Roboto;
  font-size: 0.8em;
  color: rgb(177, 177, 177);
}

.create-account {
  border: solid 1px rgb(124, 124, 124);
  background: linear-gradient(to bottom, white, rgb(219, 219, 219));
  padding: 6px;
  font-size: 0.9em;
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-account a {
  color: black;
}

.create-account:hover{
  background: rgb(209, 208, 208);
}

a:hover{
  outline: none;
  text-decoration: none;
}

li::marker {
  content: none;
}

/* Erro login */
dialog {
  width: 350px;
  border: 0.5px solid gray;
  color: rgb(46, 46, 46);
  border-radius: 5px;
}

#loginInvalid button {
  border-radius: 3px;
  border: 0.5px solid gray;
}

.titleError {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.divider {
  border: 1px solid gray;
  margin-bottom: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    gap: 20px;
  }

  .left-login, .right-login{
    width: 100%;
  }

  .logo-div {
    order: -1;
    width: 80%;
    margin: 0 auto;
  }

  .logo-font {
    white-space: nowrap;
    font-size: 50px;
  }

  .logo-font2 {
    font-size: 60px;
    margin-left: 5px;    
  }

  .logo-font-y{
    font-size: 60px;
    margin-left: 5px;    
  }

  .logo-eye{
    width: 25px;
  }

  form {
    height: auto;
  }

  .login-label{
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .login-container {
    padding: 20px;
  }

  label,
  input {
    font-size: 1em;
  }

  input[type="submit"]#submit {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .logo-font {
    font-size: 35px;
  }

  .logo-font2 {
    font-size: 45px;
  }

  .logo-font-y{
    font-size: 35px;
  }

  form {
    padding: 15px;
  }
}
