@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');



@media (max-width: 1200px) {
   body {
       font-size: 90%;
       font-family: Arial, Helvetica, sans-serif;
   }
}

@media (max-width: 768px) {
   body {
       font-size: 85%;
   }
}

*{
   margin: 0;
   padding: 0;
   border:none;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
        
}

body{
   background-color: rgb(0, 0, 0);
   color: white;
   overflow-x: hidden;
}


/*Loading*/

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #D7171E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-overlay p {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}


/* Main Menu */

.faixa {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza verticalmente */
    height: auto;
    border: solid 1px black;
    background-color: rgb(12, 12, 12);
    padding: 10px 10px 10px 10px;
}

.faixa ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.faixa ul li{
    padding: 8px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-menu {
    display: column;
    white-space: nowrap;
    align-items: center; /* Alinha verticalmente os elementos */
}

#menu a{
    color: rgb(247, 247, 247);
}

#menu ul li :hover{
    transition:60s;
}

#menu ul :hover{
    transition: 0.4s;
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    text-decoration: none;
}

.menu-trigger{
    display: none;
    padding: 5px;
}

.menu-trigger:hover {
    background-color: rgba(77, 77, 77, 0.329);
    border-radius: 5px;
    transition: 0.4s;
}

@media (max-width: 440px){

    .menu-trigger{
        display: flex;
        cursor: pointer;
    }

    .hidden-menu {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }

    .active-menu {
        opacity: 1;
        max-height: 500px; 
        transition: opacity 0.4s ease, max-height 0.4s ease;
    }
}


/* Search Bar*/

#search-div{
    width: 50%;
    margin: 0 auto;
}

.search-bar {
    margin: 0 auto;
    border-radius: 10px;
    height: 35px;
    width: 50%;
    background: #d7d7d7;
    background: -webkit-linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
    background: linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
}

@media (max-width: 1000px) { 
    #search-div {
        width: 30%; /* Oculta a barra de pesquisa */
    }  
}

@media (max-width: 800px) { 
    #search-div {
        display: none; /* Oculta a barra de pesquisa */
    }  

}

input::placeholder{
    padding: 10px;
}

/*Resultados */


/*Search Movie// procurar filmes*/

#results {
    position: absolute;
    max-height: 200px; 
    width: 400px;
    overflow-y: auto; /* Habilita rolagem vertical */
    border: 0.5px solid #363636;
    padding: 5px 0px 0px 0px; 
    background-color: #20202098; 
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.1);
    margin-left: 11px;
    z-index: 30;
}

#results {
    display: flex; 
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#results div:last-child {
    border-bottom: none; /* Remove a linha de separação do último item */
}

#results::-webkit-scrollbar {
    border: none;
}

#results::-webkit-scrollbar-track {
    background-color: rgb(48, 48, 48);
    border-radius: 8px;
}

#results::-webkit-scrollbar-thumb{
    background-color: #161616;
    border-radius: 5px; 
    height: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} 

#results img {
    width: 40px; 
    height: 65px;
    border-radius: 5px;
    margin-right: 10px;
}

#results h3 {
    font-size: 100%;
    margin: 0; /* Remove a margem padrão do título */
}

#results div:hover{
    background-color: #242424;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

/*Filme*/

.posterItem{
    width: 230px;
    border-radius: 40px;
}

.movieDiv{
    display: flex;
    position: relative;
    max-width: 1800px;
    width: 1800px;
    margin: auto;
    height: 500px;
    margin-top: 0;
}

.movieInfo{
    z-index: 3;
    padding: 20px;
    width: 1300px;
}

#backdropImage{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.overlay {
    position: absolute; /* Posiciona a sobreposição */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.7); /* Preto com opacidade */
    z-index: 2;
}

.poster-title{
    display: flex;
    gap: 10px; /* Espaçamento entre o pôster e o título */
    padding-left: 10px;
}

.genre-title{
    gap: 50px;
}

#genreMovie{
    background: rgb(215, 23, 30, 0.5);
    background: linear-gradient(90deg, rgba(172,23,28,1) 0%, rgba(215,23,30,0.10127801120448177) 80%, rgba(0, 0, 0, 0) 100%);
    color: #eeeeee;
    width: 500px;
    border-radius: 10px;
    padding: 3px 10px 3px;
    font-weight: 200;
}

#movieOverview{
    padding: 20px 0px;
}

#itemName{
    font-family: Bebas Neue;
    font-size: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100px;
    animation-duration: 0.5s; /* don't forget to set a duration! */
    margin: 0;
}

.wtw-font{
    font-family: bebas Neue;
    font-size: 30px;
    margin: 0;
    padding-left: 10px;
    height: 40px;
}

.providersNames{
    padding-left: 10px;
    font-weight: Bold;
    font-family: lato;
    width: 210px;
}

.wtw-white, .wtw-red{
    color: white;
}

.poster-provider{
    background: rgb(215,23,30);
    background: linear-gradient(0deg, rgba(172,23,28,1) 0%, rgba(215,23,30,1) 29%);
    padding-bottom: 20px;
    border-radius: 40px 40px 25px 25px;
}

/* Cast/Elenco */

.castDiv{
    z-index: 1;
    position: absolute;
    padding: 5px 60px;
}

#cast-list{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    width: 1700px;
    max-height: 300px;
    padding-bottom: 10px;
    scroll-behavior: smooth; /* Rolar suavemente */
    overflow-x: auto; /* Scroll apenas quando necessário */
    overflow-y: hidden; /* Scroll apenas quando necessário */
    cursor: pointer;

}

.actor-card{
    background-color: #0a0a0a;
    border-radius: 15px;
    padding-bottom: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* Animações suaves */
}

.actor-card:hover{
    transform: scale(1.04);
}

.actor-img{
    width: 145px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.actor-name{
    text-decoration: none;
}

.actor-name:hover{
    text-decoration: underline;
}

.p-div{
    padding: 10px 5px;
}

#release-date{
    padding-top: 10px;
}

::-webkit-scrollbar{
    background-color: #1b1b1b;
    border-radius: 30px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #080808;
    border-radius: 30px;
}

/*Modal dos Atores*/

.actor-dialog{
    max-width: 1200px;
    margin: auto;
    max-height: 600px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-image: url(''); /* Para ser definido dinamicamente via JS */
    background-size: cover; /* Para cobrir todo o dialog */
    background-position: center; /* Centralizar a imagem */
    color: rgb(0, 0, 0);
    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);
    position: fixed; /* Para posicionar o conteúdo do modal */
    animation: modalFadein 0.2s ease-in forwards;
}

.profileImg{
    width: 250px;
    border-radius: 30px;
}
