 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

 @media (max-width: 1200px) {
    body {
        font-size: 90%;
        font-family: Nunito;
    }
}

*{
    margin: 0;
    padding: 0;
    border:none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Nunito;  
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    overflow-x: hidden;
}

/*Loading*/

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.iris svg {
    width: 80px;   /* Ajuste conforme necessário */
    height: 80px;
    display: block;
}

.iris {
    display: flex;
    flex-direction: column;  /* Para empilhar o SVG e o texto */
    align-items: center;
}

/*.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #D7171E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

*/ 
.loading-overlay p {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}


.iris ellipse {
    animation: blink 1s infinite alternate;
  }
  
@keyframes blink {
    0%, 90%, 100% { opacity: 1; }
    95% { opacity: 0.3; }
  }


/* Main Trailer John Wick


.trailer-link {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 560px;
    left: 18%;
    width: 2cm;
    height: 2cm;
    border-radius: 1cm;
    list-style: none;
}

/*:hover .trailer-link{
    border: solid 3px #000;
    transition: 1s;
}

.title-trailer{
    color: white;
    position:absolute;
    background: transparent;
    right: 20%;
    font-size: 1.5em;
    font-family: Roboto;
}

.gallery p{
    color: grey;
    position: absolute;
    display: block;
    background: transparent;
    right: 57%;
    font-family: Roboto;
    font-size: 1.2em;
}

.gallery-wrapper{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.gallery{
    display: flex;
    position: relative;
    flex-flow:row nowrap;
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
}

.poster{
    width: 130px;
    position: absolute;
    display: block;
    right:75%;
    top: 230px;
    border-radius: 5px;
}

#poster-wick{
    list-style-type: none;
}

#poster-wick :hover{
    width: 132px;
    border-radius: 10px;
    transition: 300ms all ease-in-out;
}

#poster-wick :not(:hover){
    transition: 400ms;
}

.item {
    padding-bottom: 10px;
    width: 1100px;
    display: flex;  
    border-radius: 10px; 
}

*/

/*Dialog Filme*/

.movie-dialog{
    max-width: 1200px;
    margin: auto;
    max-height: 600px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-image: url(''); /* Para ser definido dinamicamente via JS */
    background-size: cover; /* Para cobrir todo o dialog */
    background-position: center; /* Centralizar a imagem */
    color: rgb(0, 0, 0);
    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);
    position: fixed; /* Para posicionar o conteúdo do modal */
    animation: modalFadein 0.2s ease-in forwards;
}

@keyframes modalFadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.modal-class{
    z-index: 2;
    position: relative; /* Para posicionar o conteúdo */
    padding: 25px; /* Espaçamento interno */
    color: white; /* Texto branco para melhor contraste */
    margin: none;
}

.modal-class h2{
    font-family: Bebas Neue;
    font-size: 75px;
    animation-duration: 0.5s; /* don't forget to set a duration! */
    z-index: 1;
}

.wtw-font{
    font-family: Bebas Neue;
    font-size: 30px;
}

.wtw-white{
    color: white; 
}

.wtw-red{
    color: #D7171E;
}

.posterItem{
    z-index: 4;
    width: 200px;
    border-radius: 40px;
}

.overlay-modal {
    position: absolute; /* Posiciona a sobreposição */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.7); /* Preto com opacidade */
    display: none;
    z-index: 1;
}

.poster-title-id{
    display: flex;
    gap: 10px; /* Espaçamento entre o pôster e o título */
}

.type-title-genre{
    padding-top: 10px;
}

.mediaTypeParagraph, #itemGenre{
    background-color: rgb(215, 23, 30, 0.7);
    color: #eeeeee;
    border-radius: 10px;
    padding: 3px 10px 3px;
    font-weight: 200;
}

/*Galeria de Em Breve*/

.wrap{
    height: 100%;
    margin: auto;
    max-height: 650px;
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.container-wrap{
    padding: 10px 20px 20px 20px;
    position: relative;
    height: 600px;
    max-height: 650px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll; /* Evita barra de rolagem vertical, mas mantém horizontal */
    gap: 50px;
}

.cinema-container{
    position:absolute;
    z-index: 10;
    left: 20%; 
    opacity: 0;
    animation: cinemaFadein 0.5s ease-in forwards;

}

@keyframes cinemaFadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.cinema-font{
    text-align: center;
}

.title-wrap, .title-wrap2{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 60px;
}

.movieLogo{
    max-width: 100px;
}

.title-wrap{
    color: aliceblue;
}

.title-wrap2{
    color: #D7171E;
}

.container-wrap::-webkit-scrollbar {
    display: none;
    z-index: 1;
}

.backdropContainer{
    padding: 20px;
    flex: none;
    width: 900px;
    height: 600px;
    position: relative; /* Certifica que .itemInfo seja posicionado dentro desse container */
    /* transition: opacity 1s ease; Transição suave para o efeito de centralização 
    transition: opacity 0.5s ease-in-out;*/
    top: 0;
    left: 0;
}

.backdropContainer.active {
    opacity: 1;
}


.upcomingItem{
    position: relative;
}

.backdropImg{
    cursor: pointer;
    width: 900px;
    height: 100%;
    z-index: 1;
    border-radius: 35px;
    filter: brightness(0.7); /* tornar o backdrop um pouco mais escuro */
    object-fit: cover; /* manter proporção da imagem */
    transition: 0.4s ease-in-out;
}

.backdropContainer:hover .backdropImg{
    filter: brightness(0.9) contrast(115%) saturate(110%);
    transform: scale(1.05); /* aumentar ao passar o mouse */
}

.itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 650px;
    top: 65%;
    left: 200px; /* posicionar lado da frontImage */
    box-sizing: border-box; /* garantir que padding não afete o tamanho do container */
    z-index: 3; /* garantir que o título e o botão estejam acima da frontImage e do backdrop */
}

.itemInfo h2{
    font-size: 36px;
    font-family: Outfit;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s ease-in-out;
}

.movie-name{
    white-space: nowrap;    
    overflow: hidden;        /* esconder o texto que ultrapassar os limites */
    text-overflow: ellipsis; /* '...' no lugar do texto cortado */
    width: 100%;             /* definir o tamanho máximo da largura */
    display: block;
}

.frontImage{
    max-width: 130px;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    left: 40px; 
    transition: translateX(-40%) scale(1.2); /* centralizar e ampliar um pouco a imagem */
    z-index: 2;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: transform 0.3s ease-in-out;
    flex: 1;
    cursor: pointer;
    bottom: 5px;
}

.company-logo {
    max-width: 100px;
    top: 10px;
    right: 10px;
    max-height: 40px;
    padding: 3px;
    z-index: 5; /* acima do backdrop */
    transition: 0.4s ease-in-out;
}

.company-logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 6px;
    z-index: 5;
}


.backdropContainer:hover .frontImage {
    transform: translateX(-10%) scale(1.2); /* aumentar ao passar o mouse */
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.7); 
}

.backdropContainer:hover .movie-pt-title {
    transform: translateX(-1%) scale(1.03); /* aumentar ao passar o mouse */
    font-weight:600;
}

.backdropContainer:hover .company-logo {
    transform: scale(1.1); /* aumentar ao passar o mouse */
    gap: 40px;
}

.trailer-link{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 45%;
    list-style: none;
}

.trailer-link:focus{
    outline: none;
}

.trailer-link:hover{
    transition: 400ms ease-in-out;
    border-radius: 50%;
    background-color: black;
}

@media (max-width: 800px) {
    .trailer-link{
        width: 50px;
        height: 50px;
    }

    .trailer-link img{
        width: 15px;
    }
}

.logo-font{
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 500;
}

.logo-font2{
    font-family: Bebas Neue;
    font-size: 50px;
    color: #D7171E;
}


/* Trailer Dialog Window */

#dialog{
    margin: auto;
    height: 100%;
    max-height: 465px;
    max-width: 809px;
    width: 100%;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow:  2px 2px 5000px 1000px rgba(0, 0, 0, 0.507);
}

.dialog[open]{
    animation: fadein 0.2s ease-in forwards;
}

@keyframes fadein{
    0%{
      bottom: 400px;
      opacity:0;
    }
    100%{
      opacity:1;
      background-color: rgb(0, 0, 0, 0.1);
    }
  }

#dialog iframe{
    max-width: 809px;
    width: 100%;
    max-height: 465px;
    height: 100%;
}


@media (max-width: 800px) {
    #dialog{
        width: 80%;
        height: 400px;
    }

}

@media (max-width: 500px) {
    #dialog{
        width: 80%;
        height: 200px;
    }
}

#close-trailer{
    border-radius: 50%;
    outline: none;
    align-items: center;
    border: none;
    font-family: Nunito;
    background: #0000006b;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    color:#D7171E;
}   

/*Arrows*/

button.prev, button.next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    border-radius: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    z-index: 1;
    align-items: center;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button.prev:hover, button.next:hover {
    transform: translateY(-50%) scale(1.2);
    transition: 0.5s;
    background-color: rgba(141, 141, 141, 0.8);
    color: rgb(0, 0, 0);
}


/* Filmes e Séries */

/* User's navigation area*/

.category-buttons{
    display: flex;
    border-radius: 30px;
    justify-content: center; 
    align-items: center;   
    margin-top: 20px;
}

.style-buttons{
    background-color: #0e0e0e;
    border-radius: 30px;
}

.btn-category {
    padding: 10px 20px;
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.btn-category.active {
    box-shadow:  2px 2px 8px 1px rgba(0, 0, 0, 0.507);
    background-color: rgba(215, 23, 30, 0.8); 
    color: white;
}

.btn-category:focus{
    outline: none;
}

.hidden {
    display: none;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
}

.maisPop, .indicaSpan{
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

.row{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 1px;
    flex-flow:row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    transition: transform 0.3s ease-in-out; /*  suave */
}

.row:hover{
    border-radius: 20px;
    transition: 400ms ease-in-out;
}

.row::-webkit-scrollbar {
    display: none;
}

.row li{
    text-decoration: none;
    list-style: none; 
}

.row a{
    color: rgb(255, 255, 255);
}

.info{
    padding: 5px;
}

.info p{
    font-size: 15px;
    color: rgb(143, 143, 143);
    padding-top: 5px;
    padding-left: 5px;
}

.description{
    background-color: rgb(8, 8, 8);
    text-align: left;
    border-radius: 5px;
    font-size: 20px;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    cursor: pointer;
    /*transition: transform 0.3s ease-in-out;*/
    animation: rowFadein 0.5s ease-in forwards; 
    transition: transform 0.3s ease;
}

@keyframes rowFadein{
    0%{
      bottom: 400px;
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }

.description:hover{
    transform: scale(1.05); /* mover a descrição para cima */
    background: rgb(13,13,13);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);

    bottom: -100px;
}

.description:hover .img-fluid{
    border-radius: 20px;
    transform: scale(0.95);
}

.description .img-fluid{
    transition: transform 0.3s ease, border-radius 0.3s ease; /* transição suave para transform e border-radius */
}

.description a{
    padding-right: 10px;
}

.rating, .rating-value{
    position: relative;
    display: inline;
    padding-left: 8px;   
}

.rating-value{
    font-family: Lato;
    font-size: 15px;
    padding-bottom: 10px;
}

/*Trailer row*/

.watch-trailer{
    font-family: Lato;
    text-align: center;
    position: relative;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.watch-trailer :hover{
    text-decoration: none;
    list-style: none;
    background: rgba(75, 75, 75, 0.459);
    border-radius: 7px;
    padding: 10px 20px 10px 10px;
    transform: 50ms;
}

.watch-trailer img{
    transition: 120s;
}

@keyframes pulse {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.8; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
}

.genre-name{
    background-color: rgb(155, 0, 0);
    padding: 5px 0px 5px 10px;
    color: aliceblue;
}

.watch-movie{
    font-family: Lato;
    text-align: center;
    position: relative;
    top: 8px;
}

.watch-movie img {
    width: 10px;
    position: relative;
    right: 5px;
    bottom: 1.5px;
    transition: transform 0.3s ease-in-out; 
}

.watch-movie :hover{
    text-decoration: none;
    list-style: none;
    background: rgba(75, 75, 75, 0.459);
    border-radius: 7px;
    padding: 10px 20px 10px 10px;
    transition: 50ms;
}

.watch-movie img{
    transition: 120s;
}

.img-fluid{
    width: 100%;
    display: block;
    position: relative;
    height: 400px;
    min-width: 220px; /* tamanho mínimo para a imagem */
}

/* RESPONSIVIDADE */

@media (max-width: 900px) {
    .backdropContainer{
        width: 500px;
    }

    .frontImage{
        width: 100px;
    }

    .backdropImg {
        width: 500px;
        height: 260px;
    }

    .container-wrap {
        gap: 30px;
        height: 320px;
        padding: 20px;
    }

    .company-logo{
        max-width: 70px;
        height: 50%;
    }

    .company-logo-container{
        top: 20px;
        right: 10px;
    }
    
    .img-fluid{
        width: 220px;
        height: 90%;
    }

    .itemInfo{
        width: 320px;
    }

    .itemInfo h2{
        font-size: 25px;
    }

    .movie-title{
        display: none;
    }

    .upcomingItem {
        width: 100%;
        padding: 10px;
    }

    .backdropContainer.active{
        height: 280px;
    }

    .movie-name{
        font-size: 18px;
    }

    .watch-trailer{
        font-size: 15px;
    }

    .watch-trailer img{
        width: 8px;
    }
}

@media(max-width: 1200px){
    .img-fluid{
        height: 80%;
    }
}

@media (max-width: 950px) {
    .itemInfo{
        left: 180px;
    }
}

@media (max-width: 500px) {
    .frontImage{
        width: 100px;
        border-radius: 5px;
        left: 10px;
    }
    
    .container-wrap{
        padding: 0;
        gap: 30px;
    }

    .backdropImg{
        width: 430px;
    }

    .backdropContainer{
        width: 460px;
    }

    .itemInfo{
        position: absolute;
        width: 60%;        
        left: 110px;
        padding: 10px;
        box-sizing: border-box;
    }

    .upcomingItem{
        width:  460px;
        position: relative;
        overflow: hidden;
    }

    .company-logo-container{
        right: 30px;
    }

}